.container.comparison

  h2 Comparison of PSI output (8-bit) and TLXClientDemo planar raw output (16-bit processed with the PPRC script)
  p Note: these images are the unadjusted output of the the two workflows. Images below are 8-bit JPEGs.
  ul.comparison-table
    li
      figure
        a target="_blank" href="#{image_path("samples/default-vs-raw/psi-normal-output/large/20140611_01_07.jpg")}"
          img src="#{image_path("samples/default-vs-raw/psi-normal-output/small/20140611_01_07.jpg")}"
        figcaption
          p PSI standard 8-bit tiff output

      figure
        a target="_blank" href="#{image_path("samples/default-vs-raw/tlx-raw-output/large/20140611_01_07.jpg")}"
          img src="#{image_path("samples/default-vs-raw/tlx-raw-output/small/20140611_01_07.jpg")}"
        figcaption
          p TLXCD 16bit raw converted with <a href="https://github.com/alibosworth/pakon-planar-raw-converter">PPRC</>

    li
      figure
        a target="_blank" href="#{image_path("samples/default-vs-raw/psi-normal-output/large/20140611_01_09.jpg")}"
          img src="#{image_path("samples/default-vs-raw/psi-normal-output/small/20140611_01_09.jpg")}"
        figcaption
          p PSI standard 8-bit tiff output

      figure
        a target="_blank" href="#{image_path("samples/default-vs-raw/tlx-raw-output/large/20140611_01_09.jpg")}"
          img src="#{image_path("samples/default-vs-raw/tlx-raw-output/small/20140611_01_09.jpg")}"
        figcaption
          p TLXCD 16bit raw converted with <a href="https://github.com/alibosworth/pakon-planar-raw-converter">PPRC</>

    li
      figure
        a target="_blank" href="#{image_path("samples/default-vs-raw/psi-normal-output/large/20140611_01_11.jpg")}"
          img src="#{image_path("samples/default-vs-raw/psi-normal-output/small/20140611_01_11.jpg")}"
        figcaption
          p PSI standard 8-bit tiff output

      figure
        a target="_blank" href="#{image_path("samples/default-vs-raw/tlx-raw-output/large/20140611_01_11.jpg")}"
          img src="#{image_path("samples/default-vs-raw/tlx-raw-output/small/20140611_01_11.jpg")}"
        figcaption
          p TLXCD 16bit raw converted with <a href="https://github.com/alibosworth/pakon-planar-raw-converter">PPRC</>
    li
      figure
        a target="_blank" href="#{image_path("samples/default-vs-raw/psi-normal-output/large/20140611_01_24.jpg")}"
          img src="#{image_path("samples/default-vs-raw/psi-normal-output/small/20140611_01_24.jpg")}"
        figcaption
          p PSI standard 8-bit tiff output
      figure
        a target="_blank" href="#{image_path("samples/default-vs-raw/tlx-raw-output/large/20140611_01_24.jpg")}"
          img src="#{image_path("samples/default-vs-raw/tlx-raw-output/small/20140611_01_24.jpg")}"
        figcaption
          p TLXCD 16bit raw converted with <a href="https://github.com/alibosworth/pakon-planar-raw-converter">PPRC</>

    li
      figure
        a target="_blank" href="#{image_path("samples/default-vs-raw/psi-normal-output/large/20140611_01_28.jpg")}"
          img src="#{image_path("samples/default-vs-raw/psi-normal-output/small/20140611_01_28.jpg")}"
        figcaption
          p PSI standard 8-bit tiff output

      figure
        a target="_blank" href="#{image_path("samples/default-vs-raw/tlx-raw-output/large/20140611_01_28.jpg")}"
          img src="#{image_path("samples/default-vs-raw/tlx-raw-output/small/20140611_01_28.jpg")}"
        figcaption
          p TLXCD 16bit raw converted with <a href="https://github.com/alibosworth/pakon-planar-raw-converter">PPRC</>


  / figure
  /   h4 PSI Raw TIFF Output
  /   img src="#{image_path("samples/8bit-highlight-issue/highlight_crop_8bit_raw.jpg")}"
  /   figcaption 100% crop of scan produced by exporting an 8-bit Raw Tiff file from PSI and inverting with Negfix8.  Quantization effect can be seen in the sky due to the limited bit-depth of the raw file. <a target="_blank" href="#{image_path("samples/8bit-highlight-issue/full_examples/PSI_20140611_01_27.tif.zip")}">Link to full resolution processed TIFF file (10mb archive)</a>. <a target="_blank" href="#{image_path("samples/8bit-highlight-issue/raw_sources/PSI_20140611_01_27.tif.zip")}">Link to Raw TIFF file (13mb archive)</a>.

  / figure
  /   h4 TLXClient Planar Raw Output
  /   img src="#{image_path("samples/8bit-highlight-issue/highlight_crop_16bit_raw.jpg")}"
  /   figcaption 100% crop of scan produced by exporting a 16-bit Planar Raw file from TLXClientDemo, converting to a Tiff with ImageMagick, and inverting with Negfix8. <a target="_blank" href="#{image_path("samples/8bit-highlight-issue/full_examples/TLX_20140611_01_27.tif.zip")}">Link to full resolution processed TIFF file (26mb archive)</a>. <a target="_blank" href="#{image_path("samples/8bit-highlight-issue/raw_sources/TLX_20160620_01_27.raw.zip")}">Link to Raw TIFF file (30mb archive)</a>.
