p <a href="https://github.com/alibosworth/pakon-planar-raw-converter">Pakon Planar Raw Converter</a> is script to automate the process of converting the 16-bit planar raw files produced by TLXClientDemo into usable images.


p Being able to use raw 16-bit files gives you the most control over your negative scans.  #{link_to "Here", "https://alibosworth.github.io/pakon-planar-raw-converter/comparison/"} are some comparisons of "standard" PSI output compared to TLXCD planar output converted with this script.


p PSI can only save to 8-bit raw files, leading to image quality issues because of missing data.  #{link_to "Here", "https://alibosworth.github.io/pakon-planar-raw-converter/8bit_raw_highlight_issue/"} are some examples.

p <a href="https://github.com/alibosworth/pakon-planar-raw-converter">Install and usage instructions</a>
